.album-page {

  .album-page-header {
    display: flex;
    align-items: center;
    margin-bottom: 64px;

    .album-page-image {
      width: 300px;
      border-radius: 8px;
      overflow: hidden;
    }

    .album-infos {
      margin-left: 24px;

      .album-title {
        font-size: 72px;
        margin-bottom: 24px;
        padding: 0;
        line-height: 72px;
      }

      .album-sub-title {
        display: flex;
        align-items: center;

        p {
          margin-bottom: 0;
          font-size: 16px;
        }

        .artist-name {
          margin-left: 8px;
        }
      }
    }

  }

}
