.artist-page {
  
  .artist-page-header {
    display: flex;
    align-items: center;

    .artist-infos {
      display: flex;
      flex-direction: column;
      margin-left: 24px;

      h1 {
        font-size: 72px;
        line-height: 72px;
        margin-bottom: 16px;
      }
      .artist-sub-title-container {
        display: flex;
        flex-direction: row;
        .artist-sub-title {
          font-size: 18px;
        }
      }
      
    }
  }

  h2 {
    margin-top: 64px;
  }

}