@import 'antd/dist/antd.css';
@import './layout.style.scss';
@import './album.style.scss';
@import './title-list-item.style.scss';
@import './artist.style.scss';
@import './home.style.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  min-height: 100%;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

.text-dot-separator {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
  margin: 0 8px;
}

.line-separator {
  width: 100%;
  height: 1px;
  background: lightgrey;
}

.page-title-block {
  display: flex;
  flex-direction: row;
  align-items: center;

  &>* {
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.pagination-line {
  display: flex;
  justify-content: center;
}
