.home-page {

  .home-page-header {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    background-image: url("https://frontiersinblog.files.wordpress.com/2017/05/frontiers-in-psychology-group-music-depression.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    
    h1 {
      font-size: 128px;
      color: white;
      margin-left: 128px;
    }
  }

  .home-page-sub-title {
    font-size: 48px;
  }

}